In [6]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import env

In [ ]:
# For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

# Has the network latency gone up since we switched internet service providers?
# Is the website redesign any good?
# Is our television ad driving more sales?

In [ ]:
# Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
# A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
# A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
# Use a .05 level of significance.

In [4]:
# Null: The average time to sell homes is equal
# Alternate: The average time to sell homes is not equal

alpha = .05

In [7]:
t, p = stats.ttest_ind_from_stats(90,15,40, 100, 20, 50), equal_var=False)

SyntaxError: cannot assign to function call (1574614381.py, line 1)

In [2]:
# Load the mpg dataset and use it to answer the following questions:

from pydataset import data
mpg = data('mpg')

# Are compact cars more fuel-efficient than the average car?
# Do manual cars get better gas mileage than automatic cars?

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [8]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [ ]:
# Null: There is no difference in fuel-efficiencies
# Alternative: There is a difference in fuel-efficincies

In [10]:
mpg['avg_mpg'] = stats.hmean(mpg[['cty', 'hwy']], axis =1)