In [85]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(100)

How likely is it that you roll doubles when rolling two dice?

If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.
Women have a mean of 170, sd = 6cm.
Since you have means and standard deviations, you can use np.random.normal to generate observations.
If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

Be sure to add, commit, and push your work.

In [86]:
# How likely is it that you roll doubles when rolling two dice?
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = pd.DataFrame(np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols))
rolls.head()

   0  1
0  1  1
1  4  1
2  3  5
3  3  6
4  3  3

In [87]:
(rolls[0] == rolls[1]).mean()

0.1652

In [76]:
# If you flip 8 coins, what is the probability of getting exactly 3 heads? 
n_trials = nrows = 10_000
n_coins = ncols = 8
flips = np.random.choice([0, 1], n_trials * n_coins).reshape(nrows, ncols)
flips = pd.DataFrame(flips)
flips.head(5)

   0  1  2  3  4  5  6  7
0  0  1  1  0  0  1  0  0
1  1  0  1  0  0  1  1  1
2  1  0  0  0  1  1  1  1
3  1  0  0  1  0  1  0  1
4  1  0  0  0  0  0  0  0

In [ ]:
flips.columns = ['coin1', 'coin2', 'coin3', 'coin4', 'coin5', 'coin6', 'coin7', 'coin8']
flips.head()

In [91]:
flips['n_heads'] = flips.sum(axis=1)
flips.head()

   coin1  coin2  coin3  coin4  coin5  coin6  coin7  coin8  n_heads
0      0      1      1      0      0      1      0      0        9
1      1      0      1      0      0      1      1      1       15
2      1      0      0      0      1      1      1      1       15
3      1      0      0      1      0      1      0      1       12
4      1      0      0      0      0      0      0      0        3

In [92]:
(flips.n_heads == 3).mean()

0.0349

In [72]:
# What is the probability of getting more than 3 heads?
n_trials = 10_000
n_coins = 8

flips = np.random.choice([0,1], n_coins * n_trials).reshape(n_trials, n_coins)

flips = pd.DataFrame(flips)
flips.head()

   0  1  2  3  4  5  6  7
0  1  0  1  0  1  1  1  1
1  0  1  1  1  1  0  1  1
2  1  1  1  1  0  1  1  0
3  1  1  0  0  0  1  1  1
4  0  1  1  0  1  0  0  0

In [73]:
flips.columns = ['coin1', 'coin2', 'coin3', 'coin4', 'coin5', 'coin6', 'coin7', 'coin8']
flips.head()

   coin1  coin2  coin3  coin4  coin5  coin6  coin7  coin8
0      1      0      1      0      1      1      1      1
1      0      1      1      1      1      0      1      1
2      1      1      1      1      0      1      1      0
3      1      1      0      0      0      1      1      1
4      0      1      1      0      1      0      0      0

In [74]:
flips['n_heads'] = flips.sum(axis=1)
flips.head()

   coin1  coin2  coin3  coin4  coin5  coin6  coin7  coin8  n_heads
0      1      0      1      0      1      1      1      1        6
1      0      1      1      1      1      0      1      1        6
2      1      1      1      1      0      1      1      0        6
3      1      1      0      0      0      1      1      1        5
4      0      1      1      0      1      0      0      0        3

In [75]:
(flips.n_heads > 3).mean()

0.6325

In [84]:
# There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup 
# randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have 
# data science students on them?
n_trials = nrows = 10_000
n_boards = ncols = 2

billboards = pd.DataFrame(np.random.choice(["Web", "Data"], p= [.75, .25], size = n_trials * n_boards).reshape(nrows, ncols))
billboards.columns = ["board1", "board2"]
billboards.head()

  board1 board2
0   Data    Web
1   Data   Data
2    Web    Web
3   Data   Data
4    Web    Web

In [81]:
((billboards.board1 == "Data") & (billboards.board2 == "Data")).mean()

0.0646

In [ ]:
# Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine.
# If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts 
# on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [101]:
n_trials = 10_000
n_days = 5 

poptarts = np.random.normal(3, 1.5, size = (n_trials, n_days)).round()
poptarts = pd.DataFrame(poptarts, columns=['M', 'T', 'W', 'Th', 'F'])
poptarts.head()

     M    T    W   Th    F
0  7.0  2.0 -0.0  5.0  4.0
1  4.0  3.0  3.0  6.0  5.0
2  2.0  1.0  4.0  3.0  2.0
3  2.0  5.0  1.0  3.0  4.0
4  4.0  3.0 -0.0  1.0  3.0

In [102]:
poptarts['n_eaten'] = poptarts.sum(axis=1)
poptarts.head()

     M    T    W   Th    F  n_eaten
0  7.0  2.0 -0.0  5.0  4.0     18.0
1  4.0  3.0  3.0  6.0  5.0     21.0
2  2.0  1.0  4.0  3.0  2.0     12.0
3  2.0  5.0  1.0  3.0  4.0     15.0
4  4.0  3.0 -0.0  1.0  3.0     11.0

In [103]:
(poptarts.n_eaten < 17).mean()

0.6737

In [ ]:
# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# Since you have means and standard deviations, you can use np.random.normal to generate observations.
# If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [98]:
m_height = np.random.normal(178, 8, size = 10_000)
f_height = np.random.normal(170, 6, size = 10_000)

In [100]:
(f_height > m_height).mean()

0.2078

In [ ]:
# When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the 
# installation fails. What are the odds that after having 50 students download anaconda, no one has an installation
# issue? 100 students?

In [107]:
n_trials = 100_000
n_students = 50

installation = pd.DataFrame(np.random.choice([0, 1], p = [0.004, 0.996], size = (n_trials, n_students)))

installation.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [108]:
(installation.sum(axis=1) == 50).mean()

0.81715

In [113]:
n_students = 100
installation = pd.DataFrame(np.random.choice([0, 1], p = [0.004, 0.996], size = (n_trials, n_students)))

In [114]:
(installation.sum(axis=1) == 100).mean()

0.66973

In [118]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
n_students = 150
installation = pd.DataFrame(np.random.choice([0, 1], p = [0.004, 0.996], size = (n_trials, n_students)))

In [120]:
(installation.sum(axis=1) == 150).mean()

0.5502

In [121]:
# How likely is it that 450 students all download anaconda without an issue?
n_students = 450
installation = pd.DataFrame(np.random.choice([0, 1], p = [0.004, 0.996], size = (n_trials, n_students)))

In [123]:
(installation.sum(axis=1) == 450).mean()

0.16549

In [125]:
# There's a 70% chance on any given day that there will be at least one food truck at Travis Park. 
# However, you haven't seen a food truck there in 3 days. How unlikely is this?
n_trials = 10_000
n_days = 3

food_trucks = np.random.choice([0,1], p = [.30, .70], size = (n_trials, n_days))
(food_trucks.sum(axis=1) == 0).mean()

0.026

In [127]:
# How likely is it that a food truck will show up sometime this week?
n_days = 5
food_trucks = np.random.choice([0,1], p = [.30, .70], size = (n_trials, n_days))
(food_trucks.sum(axis=1) > 0).mean()

0.9971

In [134]:
# If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?
n_trials = 10000
n_birthdays = 23

birthdays = np.random.choice(range(365), size=(n_trials, n_birthdays))

birthdays = pd.DataFrame(birthdays)
(birthdays.nunique(axis = 1) != 23).mean()

0.5079

In [133]:
n_trials = 10000
n_birthdays = 20

birthdays = np.random.choice(range(365), size=(n_trials, n_birthdays))

birthdays = pd.DataFrame(birthdays)
(birthdays.nunique(axis = 1) != 20).mean()

0.4139

In [132]:
n_trials = 10000
n_birthdays = 40

birthdays = np.random.choice(range(365), size=(n_trials, n_birthdays))

birthdays = pd.DataFrame(birthdays)
(birthdays.nunique(axis = 1) != 40).mean()

0.8835